<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HotelSys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>cn.dawnland.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaiDanService</display-name>
    <servlet-name>CaiDanService</servlet-name>
    <servlet-class>cn.dawnland.servlet.CaiDanService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaiDanService</servlet-name>
    <url-pattern>/caidan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaiXiangQin</display-name>
    <servlet-name>CaiXiangQin</servlet-name>
    <servlet-class>cn.dawnland.servlet.CaiXiangQin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaiXiangQin</servlet-name>
    <url-pattern>/caixiangqin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientCartServlet</display-name>
    <servlet-name>ClientCartServlet</servlet-name>
    <servlet-class>cn.dawnland.servlet.ClientCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientCartServlet</servlet-name>
    <url-pattern>/clientCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientOrderList</display-name>
    <servlet-name>ClientOrderList</servlet-name>
    <servlet-class>cn.dawnland.servlet.ClientOrderList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientOrderList</servlet-name>
    <url-pattern>/clientOrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JieZhangServlet</display-name>
    <servlet-name>JieZhangServlet</servlet-name>
    <servlet-class>cn.dawnland.servlet.JieZhangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JieZhangServlet</servlet-name>
    <url-pattern>/jiezhang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>orderList</display-name>
    <servlet-name>orderList</servlet-name>
    <servlet-class>cn.dawnland.servlet.orderList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderList</servlet-name>
    <url-pattern>/admin/sys/orderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardList</display-name>
    <servlet-name>boardList</servlet-name>
    <servlet-class>cn.dawnland.servlet.boardList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardList</servlet-name>
    <url-pattern>/admin/sys/boardList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardupdate</display-name>
    <servlet-name>boardupdate</servlet-name>
    <servlet-class>cn.dawnland.servlet.boardupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardupdate</servlet-name>
    <url-pattern>/admin/boardupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cuisineList</display-name>
    <servlet-name>cuisineList</servlet-name>
    <servlet-class>cn.dawnland.servlet.cuisineList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cuisineList</servlet-name>
    <url-pattern>/admin/sys/cuisineList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>foodList</display-name>
    <servlet-name>foodList</servlet-name>
    <servlet-class>cn.dawnland.servlet.foodList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>foodList</servlet-name>
    <url-pattern>/admin/sys/foodList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>orderDetail</display-name>
    <servlet-name>orderDetail</servlet-name>
    <servlet-class>cn.dawnland.servlet.orderDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderDetail</servlet-name>
    <url-pattern>/admin/sys/orderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCardListFood</display-name>
    <servlet-name>DeleteCardListFood</servlet-name>
    <servlet-class>cn.dawnland.servlet.DeleteCardListFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCardListFood</servlet-name>
    <url-pattern>/deletefood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sorder</display-name>
    <servlet-name>sorder</servlet-name>
    <servlet-class>cn.dawnland.servlet.sorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sorder</servlet-name>
    <url-pattern>/sorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateCuisine</display-name>
    <servlet-name>updateCuisine</servlet-name>
    <servlet-class>cn.dawnland.servlet.updateCuisine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCuisine</servlet-name>
    <url-pattern>/admin/updateCuisine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveBoard</display-name>
    <servlet-name>saveBoard</servlet-name>
    <servlet-class>cn.dawnland.servlet.saveBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveBoard</servlet-name>
    <url-pattern>/admin/saveBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boarddelete</display-name>
    <servlet-name>boarddelete</servlet-name>
    <servlet-class>cn.dawnland.servlet.boarddelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boarddelete</servlet-name>
    <url-pattern>/admin/boarddelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveCuisine</display-name>
    <servlet-name>saveCuisine</servlet-name>
    <servlet-class>cn.dawnland.servlet.saveCuisine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveCuisine</servlet-name>
    <url-pattern>/admin/saveCuisine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCuisine</display-name>
    <servlet-name>deleteCuisine</servlet-name>
    <servlet-class>cn.dawnland.servlet.deleteCuisine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCuisine</servlet-name>
    <url-pattern>/admin/deleteCuisine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveFood</display-name>
    <servlet-name>saveFood</servlet-name>
    <servlet-class>cn.dawnland.servlet.saveFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveFood</servlet-name>
    <url-pattern>/admin/saveFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveFoodtrue</display-name>
    <servlet-name>SaveFoodtrue</servlet-name>
    <servlet-class>cn.dawnland.servlet.SaveFoodtrue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveFoodtrue</servlet-name>
    <url-pattern>/admin/SaveFoodtrue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteFood</display-name>
    <servlet-name>deleteFood</servlet-name>
    <servlet-class>cn.dawnland.servlet.deleteFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteFood</servlet-name>
    <url-pattern>/admin/deleteFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateFood</display-name>
    <servlet-name>updateFood</servlet-name>
    <servlet-class>cn.dawnland.servlet.updateFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateFood</servlet-name>
    <url-pattern>/admin/updateFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateFoodtrue</display-name>
    <servlet-name>updateFoodtrue</servlet-name>
    <servlet-class>cn.dawnland.servlet.updateFoodtrue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateFoodtrue</servlet-name>
    <url-pattern>/admin/updateFoodtrue</url-pattern>
  </servlet-mapping>
</web-app>